<div class="row">
	<div class="col-md-1">
	</div>
	<div class="col-md-11">
    	<div class="thumbnail">
        	<img src="/img/matur.png" alt="falleg mynd">
        	<div class="caption">
            	<h3>Um matarvefinn</h3>
                Þessi síða er samstarfsverkefni þriggja kennara í Fjölbrautaskólanum við Ármúla og Matís ehf. Markmið hennar er að auðvelda nemendum og almenningi að gera sér grein fyrir hollustu matvæla með því að gefa upp magn orku- og næringarefna í máltíð. Hægt er að bera niðurstöðurnar saman við opinberar ráðleggingar um mataræði. Það er von okkar að síðan gagnist þeim sem nota hana til að bæta mataræði sitt og hjálpa til við val á hollum fæðutegundum.

 
        	</div>
    	</div>
	</div>
</div>