<div class="row" ng-controller="SkraCtrl"> 
	<div class="page-header">
		<h4>Skrásetningardagur {{dagsetning}}</h4>
		<form class="navbar-form navbar-left">
        <div class="form-group"> 
       		<input class="form-control" list="matarlisti" id="matarlistiInput">
        	<datalist  id="matarlisti">
            	<option ng-repeat="item in matartegundir">{{item}}</option>
        	</datalist>
            <button type="button" data-loading-text="Augnablik..." class="btn btn-success" id="skoda" href="#/neysla/skra:{{datestring}}" ng-click="finnaMat()">Fletta eftir heiti</button>
        </div>
    	</form>
    	<ul class="nav nav-tabs">   
      		<li role="presentation" class="dropdown" ng-repeat="item in matarflokkar">
        		<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" ng-style="{color: '#5cb85c'}">
          		{{item.heiti}}<span class="caret"></span>
        		</a>
        		<ul class="dropdown-menu">
          			<li ng-repeat="fl in item.undirflokkar">
            			<a ng-click="searchCat(item.heiti,fl)">{{fl}}</a>
          			</li>
        		</ul>
      		</li>
      	</ul>    	
	</div>

    <div class="col-md-6">
    	<ul class="media-list">
  			<li class="media" ng-repeat="item in mini_items_searched">
    			<div class="media-left">
      				<a href="#">
        				<!--<img class="media-object" src="..." alt="...">-->
      				</a>
    			</div>
    			<div class="media-body">
      				<h4 class="media-heading">{{item.nafn}}</h4>
    			</div>
  			</li>
		</ul>
    </div>
</div>      
       	<!--
    ass="navFlex">
       		<div class="thumbDiv3">
        		<a class="btn btn-success flokkar3" id="up" ng-click="fletta('+')">
        			<span class="glyphicon glyphicon-chevron-left" >
        			</span>
        		</a>
        	</div>
        	<div class="thumbDiv2" ng-repeat="(nr,matarflokkur) in matarflokkar" ng-class="{hidden:!isVisible(nr)}">
        		<a class="btn btn-success flokkar2" role="button" data-loading-text="Augnablik..." data-toggle="collapse" href="" aria-expanded="false" aria-controls="fl{{nr+1}}" ng-click="collapse(nr+1)">
                {{matarflokkur.heiti}}
        		</a>
        		<div class="collapse" id="fl{{nr+1}}">
            		<div class="well">
                		<ol class="list-group">
                    		<li class="list-group-item" ng-repeat="(nr2,undirheiti) in matarflokkur.undirflokkar">
                    			<a class="category" href="#/neysla/skra:{{datestring}}" id="{{nr+1}}-{{nr2+1}}" ng-click="finnaFlokka(nr+1,nr2+1)">{{undirheiti}}
                    			</a>
                    		</li>
                		</ol>
            		</div>
        		</div>
        	</div>
        	<div class="thumbDiv3">
        		<a class="btn btn-success flokkar3" id="down">
        			<span class="glyphicon glyphicon-chevron-right" ng-click="fletta('-')"></span>
        		</a>
        	</div>
        </div>-->
  
    <!--
    <div class="col-md-6" id="results">
    	<div class="thumbnail" ng-repeat="(k,item) in searchedItems" ng-class="{hidden:!isVisibleSearched(k)}">
    		<div class="caption">
    			<div class="spjaldFlex">
    		    	<div>
    					<h4><span><button type="button" class="btn-xs btn-success" ng-class="{hidden: searchedItems.length <= 1}" ng-click="flettaSearched('-')">
							<span class="glyphicon glyphicon-triangle-left"></span>
							</button>
    					<button type="button" class="btn-xs btn-success" ng-class="{hidden: searchedItems.length <= 1}" ng-click="flettaSearched('+')">
							<span class="glyphicon glyphicon-triangle-right"></span>
							</button>
						
							</span><span class="badge">{{k+1}}/{{searchedItems.length}}</span>&nbsp;<strong>{{item.heiti}}</strong>
						</h4>
						<h5>Næringargildi í 100 g:</h5>
						
					</div>
					<div>
						<button type="button" class="btn btn-success databasebtn" ng-click="fella()">Nánar</button>
					</div>				
				</div>
				<table class="table-responsive">
					<tr>
						<th>Orka</th>
						<th>vítamín</th>
						<th>steinefni</th>
					</tr>
					<tr>
						<td>Hitaeiningar: {{(9*item.fita + 4*item.protein + 4*item.kolvetni_alls).toFixed(1)}} kcal
						</td>
						<td>A-vítamín: {{item.a_vitamin_rj}} &mu;g</td>
						<td>Kalk: {{item.kalk}} mg</td>
					</tr>
					<tr>
						<td>Protein: {{item.protein}} g</td>
						<td>C-vítamín: {{item.c_vitamin}} mg</td>
						<td>Járn: {{item.jarn}} mg</td>
					</tr>
					<tr>
						<td>Kolvetni: {{item.kolvetni_alls}} g</td>
						<td>D-vítamín: {{item.d_vitamin}} &mu;g</td>
						<td>Magnesíum: {{item.magnesium}} mg</td>
					</tr>
					<tr>
						<td>Fita: {{item.fita}} g</td>
						<td>E-vítamín: {{item.e_vitamin}} mg</td>
						<td>Natríum: {{item.natrium}} mg</td>
					</tr>		
					<tr ng-show="fellt">
						<th>Fitusýrur</th>
						<td>Retinol: {{item.retinol}} &mu;g</td>
						<td>Fosfór: {{item.fosfor}} mg</td>
					</tr>
					<tr ng-show="fellt">
						<td>Mettaðar-fitusýrur: {{item.mettadar_fitusyrur}} g</td>
						<td>Beta-karótín: {{item.beta_karotin}} &mu;g</td>
						<td>Kalíum: {{item.kalium}} mg</td>
					</tr>
					<tr ng-show="fellt">
						<td>Ómettaðar-fitusýrur: {{item.cis_einomettadar_fitusyrur + cis_fjolomettadar_fitusyrur + item.cis_fjolomettadar_fitu_n_3_langar + item.cis_fjolomettadar_fitu_n_3 + item.cis_fjolomettadar_fitu_n_6}} g</td>
						<td>Alfa-tókóferol: {{item.alfa_tokoferol}} mg</td>
						<td>Sink: {{item.sink}} mg</td>
					</tr>
					<tr ng-show="fellt">
						<td>Transfitusýrur: {{item.trans_fitusyrur}} g</td>
						<td>B1-vítamín: {{item.b1_vitamin}} mg</td>
						<td>Kopar: {{item.kompar}} mg</td>
					</tr>
					<tr ng-show="fellt">
						<td>Kólesteról: {{item.kolestrol}} mg</td>
						<td>B2-vítamín: {{item.b2_vitamin}} mg</td>
						<td>Joð: {{item.jod}} &mu;g</td>
					</tr>
					<tr ng-show="fellt">
						<th>kolvetnagjafar</th>
						<td>B6-vítamín: {{item.b6_vitamin}} mg</td>
						<td>Mangan: {{item.mangan}} mg</td>
					</tr>
					<tr ng-show="fellt">
						<td>Sykrur: {{item.sykrur}} g</td>
						<td>Fólat: {{item.folat_alls}} &mu;g</td>
						<td>Selen: {{item.selen}} &mu;g</td>
					</tr>
					<tr ng-show="fellt">
						<td>Viðbættur-sykur: {{item.vidbaettur_sykur}} g</td>
						<td>Fólat: {{item.b_12_vitamin}} &mu;g</td>
						<td>Flúor: {{item.fluor}} mg</td>
					</tr>
					<tr ng-show="fellt">
						<td>Trefjaefni: {{item.trefjaefni}} g</td>
						<td>Níasín: {{item.niasin}} mg</td>
						<td>Stefinefni-alls: {{item.steinefni_alls}} g</td>
					</tr>
					<tr ng-show="fellt">
						<td>Alkóhól: {{item.alkohol}} g</td>
						<td>Níasín-jafngildi: {{item.niasin_jafngildi}} mg</td>
						<th>Vatn: {{item.vatn}} g</th>
					</tr>
				</table> 
				<div class="thumbnail veljaDiv">
					<div>
						<label for="timiDags">Tími dags</label>
						<select id="timiDags">
							<option>Morgunmatur</option>
							<option>Morgunsnarl</option>
							<option>Hádegismatur</option>
							<option>Miðdegissnarl</option>
							<option>Kvöldmatur</option>
							<option>Kvöldsnarl</option>
						</select>
					</div>
					<div>
						<label for="magn">Magn (g/mg/&mu;g)</label>
						<input type="text" value="100" id="magn">
					</div>
					<div>				
						<button type="button" class="btn btn-success databasebtn" ng-click="velja(item.heiti)">Velja</button>
					</div>
				</div>
				<div ng-show="showScaleButton">
        			<a class="btn btn-success flokkar3" data-toggle="tooltip" data-placement="bottom" title="Sækja neyslu dagsins" ng-click="neysla()">
        			<span class="glyphicon glyphicon-scale" ></span>
        			</a>
        		</div>
			<div ng-show="fellaNeyslu">
        	<h4>Neysla dagsins</h4>
        	<table class="table-responsive">		
				<tr ng-show="neysluflokkun.Morgunmatur.length">
					<th>Morgunmatur</th>
			    	<th>Orka (kcal)</th>
					<th>Magn (g)</th>
				</tr>
				<tr ng-repeat='item in neysluflokkun.Morgunmatur'>
					<td>{{item.heiti}}</td>
			    	<td>{{item.orka.toFixed(1)}}</td>
					<td>{{item.magn}}</td>
				</tr>
				
				<tr ng-show="neysluflokkun.Morgunsnarl.length">
					<th>Morgunsnarl</th>
			    	<th></th>
					<th></th>
				</tr>
				<tr ng-repeat='item in neysluflokkun.Morgunsnarl'>
					<td>{{item.heiti}}</td>
			    	<td>{{item.orka.toFixed(1)}}</td>
					<td>{{item.magn}}</td>
				</tr>
				<tr ng-show="neysluflokkun.Hadegismatur.length">
					<th>Hádegismatur</th>
			    	<th></th>
					<th></th>
				</tr>

				<tr ng-repeat='item in neysluflokkun.Hadegismatur'>
					<td>{{item.heiti}}</td>
			    	<td>{{item.orka.toFixed(1)}}</td>
					<td>{{item.magn}}</td>
				</tr>
				<tr ng-show="neysluflokkun.Middegissnarl.length">
					<th>Miðdegissnarl</th>
			    	<th></th>
					<th></th>
				</tr>
				<tr ng-repeat='item in neysluflokkun.Middegissnarl'>
					<td>{{item.heiti}}</td>
			    	<td>{{item.orka.toFixed(1)}}</td>
					<td>{{item.magn}}</td>
				</tr>
				<tr ng-show="neysluflokkun.Kvoldmatur.length">
					<th>Kvöldmatur</th>
			    	<th></th>
					<th></th>
				</tr>
				<tr ng-repeat='item in neysluflokkun.Kvoldmatur'>
					<td>{{item.heiti}}</td>
			    	<td>{{item.orka.toFixed(1)}}</td>
					<td>{{item.magn}}</td>
				</tr>
				<tr ng-show="neysluflokkun.Kvoldsnarl.length">
					<th>Kvöldsnarl</th>
			    	<th></th>
					<th></th>
				</tr>
				<tr ng-repeat='item in neysluflokkun.Kvoldsnarl'>
					<td>{{item.heiti}}</td>
			    	<td>{{item.orka.toFixed(1)}}</td>
					<td>{{item.magn}}</td>
				</tr>
				<tr>
					<th>Orka (kcal)</th>
			    	<th></th>
					<th></th>
				</tr>
				<tr>
					<th>{{neysluflokkun.Hitaeiningamagn.toFixed(1)}} (fita: {{(neysluflokkun.Fitueiningamagn/neysluflokkun.Hitaeiningamagn).toFixed(1)*100}}%, prótein: {{(neysluflokkun.Proteineiningamagn/neysluflokkun.Hitaeiningamagn).toFixed(1)*100}}%, kolvetni: {{(neysluflokkun.Kolvetniseiningamagn/neysluflokkun.Hitaeiningamagn).toFixed(1)*100}}%)</th>
					<th></th>
					<th></th>
				</tr>
				
			</table>
			</div>
        <div>
				
			</div>
    	</div>
    </div>
    
    <div class="row">
      
      <div class="col-md-6">
        <div ng-show="fellaNeyslu">
        	<h4>Neysla dagsins</h4>
        	<table class="table-responsive">		
				<tr ng-show="neysluflokkun.Morgunmatur.length">
					<th>Morgunmatur</th>
			    	<th>Orka (kj)</th>
					<th>Magn (g)</th>
				</tr>
				<tr ng-repeat='item in neysluflokkun.Morgunmatur'>
					<td>{{item.heiti}}</td>
			    	<td>{{item.orka.toFixed(1)}}</td>
					<td>{{item.magn}}</td>
				</tr>
				
				<tr ng-show="neysluflokkun.Morgunsnarl.length">
					<th>Morgunsnarl</th>
			    	<th>Orka (kj)</th>
					<th>Magn (g)</th>
				</tr>
				<tr ng-repeat='item in neysluflokkun.Morgunsnarl'>
					<td>{{item.heiti}}</td>
			    	<td>{{item.orka.toFixed(1)}}</td>
					<td>{{item.magn}}</td>
				</tr>
				<tr ng-show="neysluflokkun.Hadegismatur.length">
					<th>Morgunsnarl</th>
			    	<th>Orka (kj)</th>
					<th>Magn (g)</th>
				</tr>
				<tr ng-repeat='item in neysluflokkun.Hadegismatur'>
					<td>{{item.heiti}}</td>
			    	<td>{{item.orka.toFixed(1)}}</td>
					<td>{{item.magn}}</td>
				</tr>
				<tr ng-show="neysluflokkun.Middegissnarl.length">
					<th>Miðdegissnarl</th>
			    	<th>Orka (kj)</th>
					<th>Magn (g)</th>
				</tr>
				<tr ng-repeat='item in neysluflokkun.Middegissnarl'>
					<td>{{item.heiti}}</td>
			    	<td>{{item.orka.toFixed(1)}}</td>
					<td>{{item.magn}}</td>
				</tr>
				<tr ng-show="neysluflokkun.Kvoldmatur.length">
					<th>Kvöldmatur</th>
			    	<th>Orka (kj)</th>
					<th>Magn (g)</th>
				</tr>
				<tr ng-repeat='item in neysluflokkun.Kvoldmatur'>
					<td>{{item.heiti}}</td>
			    	<td>{{item.orka.toFixed(1)}}</td>
					<td>{{item.magn}}</td>
				</tr>
				<tr ng-show="neysluflokkun.Kvoldsnarl.length">
					<th>Kvöldsnarl</th>
			    	<th>Orka (kj)</th>
					<th>Magn (g)</th>
				</tr>
				<tr ng-repeat='item in neysluflokkun.Kvoldsnarl'>
					<td>{{item.heiti}}</td>
			    	<td>{{item.orka.toFixed(1)}}</td>
					<td>{{item.magn}}</td>
				</tr>
			</table> 
        <div>
       
      </div>
       -->

