<div class="row" ng-controller="TolfraediCtrl" ng-init="init()">
	<div class="thumbnail col-md-12" >
    <h4>Upplýsingar um notanda</h4>
    <form class="form-inline">
        <div class="form-group">
          <label>Hæð (cm): </label>
            <select class="form-control" ng-model="consumer.height">
            <option ng-repeat="h in height" ng-value"h">{{h}}</option>
            </select>
        </div>
        <div class="form-group">
          <label>Þyngd (kg): </label>
            <select class="form-control" ng-model="consumer.weight">
            <option ng-repeat="w in weight" ng-value"w">{{w}}</option>
            </select>
        </div>
        <div class="form-group">
          <label>Aldur: </label>
            <select class="form-control" ng-model="consumer.age">
            <option ng-repeat="a in aldur" ng-value"a">{{a}}</option>
          </select>
        </div>
        <div class="form-group">
          <label>Kyn: </label>
            <select ng-model="consumer.sex" class="form-control">
            <option ng-repeat="s in kynin" ng-value="s">{{s}}</option>
            </select>
        </div>
    </form>

    <h4>Upplýsingar um hreyfingu</h4>

    <form class="form-inline">
        <div class="form-group">
          <label>Hreyfing: </label>
            <select class="form-control" ng-model="consumer.hreyfing">
            <option ng-repeat="h in hreyfing" ng-value"h">{{h}}</option>
          </select>
        </div>
    </form>
		<h4>Veljið dagsetningar</h4>

		Ef einungis fyrri dagsetningin er valin er birt tölfræði viðkomandi dags. Ef báðar dagsetningarnar eru valdar er reiknuð tölfræði hvers dags.
      <form class="form-inline">
  			<div class="form-group">
    			<label>Frá</label>
    		    <input type='text' class="form-control" id="datepicker1"/>
  			</div>
  			<div class="form-group">
    			<label>Til</label>
    		    <input type='text' class="form-control" id="datepicker2"/>
  			</div>		
		</form>

    <button type="submit" class="btn btn-success"  data-loading-text="Augnablik..." id="tolfrTakki" ng-click="reikna()">Tölfræði</button>
	</div>
  <div class="col-md-12" ng-show="showStats">
    <form class="form-inline">
            <div class="form-group form-group-lg"> 
                <select  id="dagalisti" class="form-control" ng-model="currDagaheiti">
                    <option ng-repeat="dagur in dagaheiti" ng-value="dagur">{{dagur}}</option>
                </select>
            </div>
            <button type="submit" class="btn btn-success" ng-click="renderStatistics()">Nýr dagur</button>
    </form> 
  </div>
	<div class="col-md-8" ng-show="showStats" id="teiknibord">
  <h4>Ráðlagðir dagskammtar</h4>
    <table class="table-responsive">
          <tr>
            <th>Orkuefni</th>
            <th>Fituleysanleg vítamín</th>
            <th>Vatnsleysanleg vítamín</th>
            <th>Steinefni</th>
          </tr>
          <tr>
            <td>Hitaeiningar: </td>
            <td>A-vítamín: {{itemD.a_vitamin_rj}} %</td>
            <td>Þíamín (B1): {{itemD.b1_vitamin}} %</td>
            <td>Kalk: {{itemD.kalk}} %</td>
          </tr>
          <tr>
            <td>&nbsp;-{{(37*numb(itemD.fita) + 17*numb(itemD.protein) + 17*numb(itemD.kolvetni_alls)+8*numb(itemD.trefjaefni)+29*numb(itemD.alkohol)).toFixed(1)}} (kJ)</td>
            <td>D-vítamín: {{itemD.d_vitamin}} %</td>
            <td>Ribóflavín (B2): {{itemD.b2_vitamin}} %</td>
            <td>Járn: {{itemD.jarn}} %</td>
          </tr>
          <tr>
            <td>&nbsp;-{{(9*numb(itemD.fita) + 4*numb(itemD.protein) + 4*numb(itemD.kolvetni_alls)+2*numb(itemD.trefjaefni)+7*numb(itemD.alkohol)).toFixed(1)}} kkal</td>
            <td>E-vítamín: {{itemD.e_vitamin_alfa_tj}} %</td>
            <td>Níasín (B3): {{itemD.niasin}} %</td>
            <td>Kalíum: {{itemD.kalium}} %</td>
          </tr>
          <tr>
            <td>&nbsp;-{{((9*numb(itemD.fita) + 4*numb(itemD.protein) + 4*numb(itemD.kolvetni_alls)+2*numb(itemD.trefjaefni)+7*numb(itemD.alkohol))/consumer.kkal_needed*100).toFixed(1)}} %</td>
            <td></td>
            <td>B6-vítamín: {{itemD.b6_vitamin}} %</td>
            <td>Magnesíum: {{itemD.magnesium}} %</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>Fólat: {{itemD.folat_alls}} %</td>
            <td>Sink: {{itemD.sink}} %</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>B12-vítamín: {{itemD.b_12_vitamin}} %</td>
            <td>Joð: {{itemD.jod}} %</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>C-vítamín: {{itemD.c_vitamin}} %</td>
            <td>Selen: {{itemD.selen}} %</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Kopar: {{itemD.kopar}} %</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Fosfór: {{itemD.fosfor}} %</td>
          </tr>
        </table> 		
	</div>
	<div class="col-md-4" ng-show="showStats" id="teiknibord2">
		
		<canvas id="kokurit"></canvas>
	</div>
</div>