<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
  <title>Matarvefur</title>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
  <link href=/img/uppspretta.jpg>
  </script>
  <style type="text/css" media="screen">
    body {
      background-color: white;
    }
    .glyphicon-apple {    
      font-size: 40px;
      color: white;
    }
    .navbar-default {
      background-color: #5cb85c;
      border-color: #5cb85c;
    }
    .navbar-default .navbar-text {
      color: white;
      font-size: 40px;
    }
    h1,h2,h3,h4 {
      color: #5cb85c;
    }
   .thumbnail {
    border-color: #5cb85c;
   }
  </style>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-text">
        <span class="glyphicon glyphicon-apple"></span>
        </div>
        <p class="navbar-text">Matarvefurinn</p>
    </div>
    </div>
  </nav>
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-7">
      <div class="thumbnail">
        <img src="/img/toppur2.jpg" alt="falleg mynd">
        <div class="caption">
          <h3>Um matarvefinn</h3>
          
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <div class="caption">
          <h3>Innskráning</h3>
        </div>
      </div>
    </div>
  </div>
  <script src="/js/jquery.min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <script src="/js/underscore-min.js"></script>

</body>


</html>
